@font-face {
  font-family: 'Raleway Thin';
  src: url("../fonts/raleway-thin/raleway-thin.eot");
  src: url("../fonts/raleway-thin/raleway-thin.eot?iefix") format("eot"), url("../fonts/raleway-thin/Raleway-Thin.woff") format("woff"), url("../fonts/raleway-thin/raleway-thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Black';
  src: url("../fonts/raleway-black/raleway-black.eot");
  src: url("../fonts/raleway-black/raleway-black.eot?iefix") format("eot"), url("../fonts/raleway-black/Raleway-Black.woff") format("woff"), url("../fonts/raleway-black/raleway-black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Yantramanav Black';
  src: url("../fonts/yantramanav-black/Yantramanav-Black.eot");
  src: url("../fonts/yantramanav-black/Yantramanav-Black.eot?iefix") format("eot"), url("../fonts/yantramanav-black/Yantramanav-Black.woff") format("woff"), url("../fonts/yantramanav-black/Yantramanav-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'Raleway Thin', Arial, sans-serif;
  font-size: 19px;
  line-height: auto;
  font-weight: normal;
  background: #191e3f;
  color: #fff;
  margin: 0 auto; }

a {
  color: #fff; }

.visually_hidden {
  display: none; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 84px;
  background: url("../img/main-bg.jpg") no-repeat 50% 0, url("../img/main-bg2.jpg") no-repeat 50% 1900px, url("../img/main-bg3.jpg") no-repeat 50% 100%; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6, ul, li, p {
  margin: 0;
  padding: 0; }

.main-header::after {
  content: "";
  display: table;
  clear: both; }

.main-header__logo {
  width: 127px;
  float: left;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.main-nav__toggle {
  display: block;
  cursor: pointer; }

.main-nav {
  float: right;
  margin-top: 30px;
  margin-right: 17%; }

.main-nav__menu {
  list-style: none;
  display: none; }

.main-nav__menu-item {
  margin-bottom: 10px; }

.main-nav__menu-item a {
  line-height: 36px;
  text-decoration: none;
  opacity: 0.5; }

.main-nav__menu-item a:hover {
  opacity: 1; }

.main-content {
  padding-top: 330px; }

.main-content__head {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  font-size: 76px;
  line-height: 88px;
  margin-bottom: 450px; }

.main-block {
  position: relative; }
  .main-block::after {
    content: "";
    display: table;
    clear: both; }

.mission {
  position: relative;
  padding-top: 160px;
  margin-bottom: 550px; }

.main-block__head {
  position: relative;
  width: 270px;
  text-align: center;
  font-family: "Yantramanav Black", Arial, sans-serif;
  font-size: 286px;
  line-height: auto;
  color: rgba(255, 255, 255, 0.03);
  z-index: 2; }

.main-block__head span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      -ms-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  font-family: "Raleway Thin", Arial, sans-serif;
  font-size: 34px;
  color: #fff; }

.mission__head {
  float: left;
  margin-left: 280px; }

.mission__content {
  position: relative;
  width: 27%;
  float: right;
  margin-top: 110px;
  margin-right: 18%;
  z-index: 2; }

.mission__content p {
  margin-bottom: 22px; }

.mission__img {
  position: absolute;
  display: block;
  top: 0;
  left: 540px;
  background: #191e3f;
  -webkit-box-shadow: 0 152px 178px rgba(0, 0, 0, 0.44);
          box-shadow: 0 152px 178px rgba(0, 0, 0, 0.44); }

.mission__img img {
  opacity: 0.64; }

.projects {
  padding-bottom: 530px; }

.projects__head {
  float: right;
  margin-right: 19%;
  margin-top: 130px; }

.projects__content {
  position: relative;
  width: 47%;
  list-style: none;
  font-size: 0;
  padding-top: 320px;
  margin-left: 20%;
  z-index: 2; }

.projects__content-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 84px;
  margin-bottom: 100px; }

.projects__content-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.projects__content-item:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.5; }

.projects__content-item:nth-of-type(3n) {
  margin-right: 0; }

.footbal-logo {
  margin-right: 115px; }

.projects__bg {
  position: absolute;
  top: -20%;
  left: 9%;
  font-family: "Raleway Black", Arial, sans-serif;
  font-size: 1296px;
  line-height: 1296px;
  color: #191e3f;
  opacity: 0.6;
  text-shadow: 0 152px 178px rgba(0, 0, 0, 0.5); }

.team__block {
  position: relative; }

.team__block-wrapper::after {
  content: "";
  display: table;
  clear: both; }

.team__block-wrapper:first-child {
  margin-bottom: 190px; }

.team__block-wrapper:nth-child(2) {
  margin-bottom: 190px; }

.team__block-wrapper:nth-child(3) {
  padding-bottom: 190px; }

.team__head {
  float: left;
  margin-top: -100px;
  margin-left: 16%; }

.team__block-content {
  position: relative;
  z-index: 2; }

.team__block-name {
  position: relative;
  font-size: 38px;
  margin-bottom: 15px; }

.team__block-name::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -28px;
  width: 56px;
  height: 5px;
  background: #fff; }

.team__block-status {
  margin-bottom: 35px; }

.team__block-descr {
  font-size: 15px;
  margin-bottom: 15px; }

.team__block-foto {
  position: absolute;
  background: #191e3f;
  -webkit-box-shadow: 0 152px 178px rgba(0, 0, 0, 0.44);
          box-shadow: 0 152px 178px rgba(0, 0, 0, 0.44); }

.team__block-foto img {
  opacity: 0.2; }

.george {
  width: 44%;
  float: right;
  margin-right: 480px; }

.george__content {
  width: 370px;
  margin-top: 345px; }

.george__foto {
  top: 0;
  right: 0; }

.kenneth {
  width: 670px;
  float: left;
  margin-left: 360px; }
  .kenneth::after {
    content: "";
    display: table;
    clear: both; }

.kenneth__content {
  width: 340px;
  float: right;
  margin-top: 240px; }

.kenneth__foto {
  top: 0;
  left: 0; }

.richard {
  width: 510px;
  float: right;
  margin-right: 380px;
  margin-top: 150px; }

.richard__content {
  margin-top: 255px; }

.richard__foto {
  top: 0;
  right: 0; }

.judith {
  float: left;
  width: 520px;
  margin-left: 390px; }

.judith__content {
  margin-top: 245px; }

.judith__foto {
  top: 0;
  right: 0; }

.donald {
  float: right;
  width: 600px;
  margin-top: 230px;
  margin-right: 270px; }
  .donald::after {
    content: "";
    display: table;
    clear: both; }

.donald__content {
  float: right;
  margin-top: 280px; }

.donald__foto {
  top: 0;
  left: 0; }

.team__bg {
  position: absolute;
  top: 15%;
  left: 29%;
  font-family: "Raleway Black", Arial, sans-serif;
  font-size: 1296px;
  line-height: 1296px;
  color: #191e3f;
  opacity: 0.6;
  text-shadow: 0 152px 178px rgba(0, 0, 0, 0.5);
  z-index: -1; }

.event {
  margin-bottom: 350px; }

.event__head {
  position: relative;
  margin: 0 auto;
  margin-bottom: 200px;
  z-index: 2; }

.event__content {
  position: relative;
  width: 500px;
  margin-left: 435px;
  z-index: 2; }

.event__content-title {
  font-size: 72px;
  line-height: 83px;
  margin-bottom: 50px; }

.event__content-main {
  margin-bottom: 20px; }

.event__bg {
  position: absolute;
  top: -17%;
  left: 50%;
  font-family: "Raleway Black", Arial, sans-serif;
  font-size: 1296px;
  line-height: 1296px;
  color: #191e3f;
  opacity: 0.6;
  text-shadow: 0 152px 178px rgba(0, 0, 0, 0.5); }

.footer-logo {
  width: 127px;
  margin: 0 auto;
  margin-bottom: 27px; }

.footer__menu {
  list-style: none;
  width: 370px;
  margin: 0 auto;
  text-align: center; }
  .footer__menu::after {
    content: "";
    display: table;
    clear: both; }

.footer__menu-item {
  display: inline-block;
  margin-right: 19px; }

.footer__menu-item:last-child {
  margin-right: 0; }

.footer__menu-item a {
  font-size: 15px;
  line-height: 36px; }

.copyright {
  text-align: center;
  font-size: 15px;
  line-height: 36px;
  margin-bottom: 64px; }
